body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.column-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.column {
  border: 1px solid salmon;
  background-color: bisque;
  padding: 16px;
}

.badge {
  background-color: lightcyan;
  border: 1px solid lightblue;
  border-radius: 4px;
}

.button-time {
  width: 100%;
  margin: 8px 0;
}
